// Specific CSS for your home-page
.home_container {
  width: 100%;
  background-image: url(Charly-home-page-2.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;

}

.bouton_lock_me img {
  position: relative;
    top: -104%;
}

.bouton_lock_me {
  // border: 1px solid #950101e6;
  position: absolute;
  border-radius: 12px;
  background-color: #950101;
  color:#C6C6C6;
  font-weight: bolder;
  text-decoration: none;
  box-shadow: 1px 1px 20px;
  width: 363px;
  height: 53px;
  // padding: 15px 20px;
  text-align: center;
  transform: translate(5%,182%);
  transition: 0.9s;

  h1 {
    margin: 0;
  }
}

.bouton_lock_me:hover{
  background-color: #FF000000;
  // border: 1px solid #FF0000;
  color:#C6C6C6;
  box-shadow: none;

}


#footer {

  background: black;
  color: white;
  font-size: 15px;
  text-align: right;
  margin-bottom: 0;
  height: 10vh;
  ul {
    margin-bottom: 0;
  }

}

#footer a {
  color: white ;
  font-size: 30px;
  justify-content: center;
  margin-right: 30px;


}

#footer a:hover{
  color: #FF0000;
}
