<div class="bckg">
  <h1 id="take"> TAKE YOUR CHARLY !</h1>
  <br>
  <div class="container booking-page">
    <%= simple_form_for([@service, @booking]) do |f| %>
      <%= f.input :date %>
      <%= f.button :submit, "LOCK THIS!", class: "bouton-all" %>
    <% end %>
    <br>
    <br>
    <br>
    <div class="bouton">
      <%= link_to "back to userpage", users_path(current_user), class: "bouton-all" %>
    </div>
  </div>
</div>
