
<div class="bckg">
  <div class="container booking-page">
    <h1 id="take"> When do you want to lock me ?</h1>
    <br>
    <%= simple_form_for([@service, @booking]) do |f| %>
      <%= f.input :date %>
      <%= f.button :submit, "LOCK THIS!", class: "bouton-all lock-this" %>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="bouton">
      <%= link_to "back to index", services_path, class: "bouton-all" %>
    </div>
  </div>
</div>
