.bouton-all {
  background-color: red;
  border-radius: 3px;
  text-decoration: none;
  padding: 15px 20px;
  text-align: center;
  color: black;
  transition: 0.4s;
}
.bouton-all:hover {
  background-color: rgb(161, 7, 7);
  color: #C6C6C6;
}
