.bouton-booking {
  background-color: red;
  border-radius: 3px;
  transition: 0.4s;
}

.bouton-booking:hover {
  background-color: rgb(161, 7, 7);
  color: lightgray;
}

.booking-page {
  position: relative;
  height: 75vh;
  color: white;
}

.lock-this {
  position: absolute;
  left: 50%;
  transform: translate(-65px, 20px);
}

#take {
  color: red;
  text-align: center;
  h1 {
    margin: 0 0 0 0;
  }
}
